* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

@mixin inputType {
   margin-top: 40px;
   width: 250px;
   height: 35px;
   font-size: 20px;
   margin-right: 20px;
   border-radius: 5px;
   outline: none;
   border: 1px solid lightslategray;
   box-shadow: 1px 1px 8px black;
}

@mixin focusInput {
   text-shadow: 1px 0px 2px black;
   box-shadow: 0px 0px 10px yellow;
}

body {     
   height: 722px;
   background-image: url(https://img1.goodfon.ru/wallpaper/nbig/c/8b/tekstura-linii-fon-krasnyi-rozovyi-seryi.jpg);
   background-repeat: no-repeat;
   background-size: cover;

   main {
      section {  
         display: flex;
         flex-flow: column;
         align-items: center;  
         font-size: 20px;
         text-align: center;   

         .formulaDiv {
            display: flex;      
            flex-flow: column;
            align-items: flex-start;
         }

         b {
            color: rgb(173, 10, 10);
            text-shadow: 1px 0px 1px yellow; 
         }

         span {

            border-bottom: 2px solid currentColor;
         }

         form {
            input[type="number"] {
               @include inputType;
            }

            input:focus {
               @include focusInput;
            }

            .submitForm {
               input[type='submit'] {
                  @include inputType;
                  background-color: aqua;
                  outline: none;
                  border-radius: 15px;
               }

               input:focus {
                  @include focusInput;
               }
            }

            .result {
               input[type='text'] {
                  @include inputType;
               }

               input:focus {
                  @include focusInput;
               }
            }
         }
      }
   }
section {
   .translateBt{
      input[type="submit"]{
         @include inputType;
         background-color: aqua;
         outline: none;
         border-radius: 15px;
      }
      input[type="text"]{
         @include inputType;
      }
      input:focus {
         @include focusInput;
      }
   }
}
   footer {
      height: 100px;
      width: 99%;
      text-align: center;
      line-height: 100px;
   }
}
@import '320';